<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Feedback</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name Of Restaurant</label>
        <input class="form-control" th:field="${feedback.nameOfRestaurant}" />
        <span th:errors="${feedback.nameOfRestaurant}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="feedback">Feedback</label>
        <input class="form-control" th:field="${feedback.review}" />
        <span th:errors="${feedback.review}" class="error"></span>
    </div>

<input type="submit" value="Submit" />
</form>

</body>
</html>